@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50;
}

/* Animasi Halus saat konten muncul */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animation-fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.animation-fade-in-up {
    animation: fadeInUp 0.3s ease-out forwards;
}